<ion-header>
  <ion-toolbar>
    <ion-title>¡Bienvenido!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-wrapper">
    <!-- Logo -->
    <img src="assets/images/Logo.png" alt="Logo" class="logo">

    <!-- Mensaje de bienvenida -->
    <p class="welcome-text">¡Hola, {{ email }}! Has iniciado sesión exitosamente.</p>

    <!-- Botón para cerrar el modal -->
    <ion-button expand="block" (click)="closeModal()">Cerrar</ion-button>
  </div>
</ion-content>
