<ion-app>
  <ion-menu *ngIf="showMenu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title><img src="assets/images/Logo.png" alt="Logo" class="logo"/></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item routerLink="/portada">
          <ion-icon slot="start" name="home"></ion-icon>
          Portada
        </ion-item>
        <ion-item routerLink="/inicio">
          <ion-icon slot="start" name="car"></ion-icon>
          Formulario de vehiculos
        </ion-item>
        <ion-item routerLink="/listar-carros">
          <ion-icon slot="start" name="list"></ion-icon>
          Lista de automoviles
        </ion-item>
        <ion-item routerLink="/solicitud-viaje">
          <ion-icon slot="start" name="calendar"></ion-icon>
          Solicitud de viaje
        </ion-item>
        <ion-item routerLink="/criptoactivos">
          <ion-icon slot="start" name="cash"></ion-icon>
          Criptoactivos
        </ion-item>
        <ion-item routerLink="/home">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Cerrar sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="showMenu">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <img src="assets/images/Logo.png" alt="Logo" class="logo"/>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>

    <ion-footer>
      <ion-toolbar class="footer-toolbar">
        <ion-buttons slot="start" class="footer-buttons">
          <ion-button href="https://www.instagram.com" fill="clear" class="rotate-icon">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button href="https://www.facebook.com" fill="clear" class="rotate-icon">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button href="https://www.twitter.com" fill="clear" class="rotate-icon">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>

  </div>
</ion-app>
