.logo{
    height: 30px;
    width: auto;
    margin: 0;
  }

  ion-footer {
    background-color: #ffffff; /* Color de fondo del footer */
    padding: 0; /* Espaciado interno del footer */
  }
  
  .footer-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    height: 50px;
    display: flex;
    justify-content: center; /* Centra los íconos horizontalmente */
  }
  
  .footer-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  ion-button {
      font-size: 24px; /* Tamaño de los íconos */
      transition: color 0.3s ease; 
  }

  .footer-buttons .rotate-icon {
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      rotate: (0deg);
    }
    75% {
      transform: rotate(-90deg)
    }
    100% {
      transform: rotate(0deg)
    }
  }
  