ion-content {
  --background: #e0e0e0; /* Gris claro como fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-item {
  --background: #ffffff;
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 16px;

  ion-input {
    --border-radius: 10px; /* Aplicar border-radius directamente */
    border-radius: 10px; /* Estilo adicional, si es necesario */
  }
}

.header {
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;

  .subTitle {
    color: gray;
    font-size: 15px;
  }

  .title {
    font-size: 30px; 
  }
}

.enlace-olvidaste-clave {
  margin-left: 16px;
}

ion-button {
  --background: #ff8200;
  border-radius: 15px !important; /* Agrega !important si es necesario */
  animation: colorChange 1s infinite ease-in-out;
  padding: 8px 16px;

  ::part(native) {
    border-radius: 15px; /* Aplicar border-radius al componente interno */
  }
}

@keyframes colorChange {
  0% {
    --background: #ff8200;
  }
  50% {
    --background: #ffa733;
  }
  100% {
    --background: #ff8200;
  }
}