ion-content {
  --background: #e0e0e0; /* Gris claro como fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-item {
  --background: #ffffff;
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 16px;

<<<<<<< HEAD
=======
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111616; /* Fondo celeste suave */
  }
  
  .login-container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    color: #007acc; /* Azul para el título */
    margin-bottom: 25px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  ion-item {
    background-color: rgb(23, 20, 20);
    margin-bottom: 20px;
  }
  
  ion-label {
    color: #007acc; /* Azul para etiquetas */
    font-weight: bold;
  }
  
>>>>>>> 009e34df33fc5a1917be2e2385b5f63b1aa257a6
  ion-input {
    --border-radius: 10px; /* Aplicar border-radius directamente */
    border-radius: 10px; /* Estilo adicional, si es necesario */
  }
}

.header {
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;

  .subTitle {
    color: gray;
    font-size: 15px;
  }

  .title {
    font-size: 30px; 
  }
}

.enlace-olvidaste-clave {
  margin-left: 16px;
}

ion-button {
  --background: #ff8200;
  border-radius: 15px !important; /* Agrega !important si es necesario */
  animation: colorChange 1s infinite ease-in-out;
  padding: 8px 16px;

  ::part(native) {
    border-radius: 15px; /* Aplicar border-radius al componente interno */
  }
}

@keyframes colorChange {
  0% {
    --background: #ff8200;
  }
<<<<<<< HEAD
  50% {
    --background: #ffa733;
  }
  100% {
    --background: #ff8200;
  }
}
=======
>>>>>>> 009e34df33fc5a1917be2e2385b5f63b1aa257a6
