<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mapa de Ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map" style="height: 70vh;"></div>
  
  <ion-item>
    <ion-label position="floating">Tarifa por km</ion-label>
    <ion-input type="number" [(ngModel)]="tarifa" placeholder="Ingresa la tarifa"></ion-input>
  </ion-item>
  
  <ion-button expand="full" (click)="calcularCosto()">Calcular Costo</ion-button>
  <p>Costo del viaje: {{ costo | currency }}</p>
</ion-content>