.list-view {
  display: block;

  ion-card {
    margin-bottom: 10px;
    width: 100%;
  }
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;

  ion-card {
    width: 100%;
  }
}
