<form (ngSubmit)="addCar()">
  <ion-item>
    <ion-label position="floating">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      Patente
    </ion-label>
    <ion-input name="patente" [(ngModel)]="car.patente"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="construct-outline" slot="start"></ion-icon>
      Marca
    </ion-label>
    <ion-input name="marca" [(ngModel)]="car.marca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="resize-outline" slot="start"></ion-icon>
      Modelo
    </ion-label>
    <ion-input name="modelo" [(ngModel)]="car.modelo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      Año
    </ion-label>
    <ion-input type="number" name="year" [(ngModel)]="car.year"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="image-outline" slot="start"></ion-icon>
      Ruta Img
    </ion-label>
    <ion-input name="imageUrl" [(ngModel)]="car.imageUrl"></ion-input>
  </ion-item>

  <ion-button expand="full" color="warning" type="submit">Guardar</ion-button>
</form>
