ion-content {
    --background: #e0e0e0; /* Fondo gris claro */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  ion-item {
    --background: #ffffff; /* Fondo blanco para los inputs */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 8px; /* Reducir espacio entre los items */
    padding: 16px;
  
    ion-label {
      margin-bottom: 8px; /* Espacio adicional entre el label y el input */
    }
  
    ion-input {
      --border-radius: 10px; /* Bordes redondeados para los inputs */
      margin-top: 8px; /* Agregar espacio entre el label y el input */
    }
  }
  
  .header {
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
  
    .subTitle {
      color: gray;
      font-size: 15px;
    }
  
    .title {
      font-size: 30px; 
    }
  }
  
  .enlace-olvidaste-clave {
    margin-left: 16px;
  }
  
  ion-button {
    --background: #ff8200; /* Color de fondo anaranjado */
    border-radius: 15px !important; /* Bordes redondeados más pronunciados */
    animation: colorChange 1s infinite ease-in-out; /* Animación de cambio de color */
    padding: 8px 16px;
  
    ::part(native) {
      border-radius: 15px; /* Aplicar border-radius al componente interno */
    }
  }
  
  @keyframes colorChange {
    0% {
      --background: #ff8200; /* Color inicial */
    }
    50% {
      --background: #ffa733; /* Color intermedio */
    }
    100% {
      --background: #ff8200; /* Color final */
    }
  }
  